@page
@model CreateDocsModel
@{
    Layout = "_Layout";
}

<html>
<body>
<ejs-richtexteditor id="saveFile">
    <e-content-template>

    </e-content-template>
</ejs-richtexteditor>
<div> <button id="btn">save content</button></div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
document.getElementById('btn').addEventListener('click', function () {
    try {
        var obj = document.getElementById('saveFile').ej2_instances[0];
        var value = JSON.stringify({ text: obj.value });
        const Http = new XMLHttpRequest();
        const url = '/Documents/Index?handler=OnPostSave';
        console.log(url);
        Http.open("POST", url);
        Http.setRequestHeader('Content-Type', 'application/json');

        // Use jQuery to get the anti-forgery token
        var token = $('input[name="__RequestVerificationToken"]').val();
        Http.setRequestHeader('RequestVerificationToken', token);

        Http.onreadystatechange = function () {
            if (Http.readyState === 4) {
                if (Http.status === 200) {
                    console.log("Save successful!");
                } else {
                    console.error("Save failed with status: ", Http.status);
                    console.error("Response: ", Http.responseText);
                }
            }
        };

        Http.onerror = function () {
            console.error("XHR failed loading: ", Http.statusText);
        };

        Http.send(value);
    } catch (e) {
        console.error("Error Mate: ", e);
    }
});

</script>

</body>
</html>
