@model SCE_Final_Project_2024.Models.Account

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="_FName" class="control-label"></label>
                <input asp-for="_FName" class="form-control" />
                <span asp-validation-for="_FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_LName" class="control-label"></label>
                <input asp-for="_LName" class="form-control" />
                <span asp-validation-for="_LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_Email" class="control-label"></label>
                <input asp-for="_Email" class="form-control" />
                <span asp-validation-for="_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_Password" class="control-label"></label>
                <input asp-for="_Password" class="form-control" />
                <span asp-validation-for="_Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_Department" class="control-label"></label>
                <input asp-for="_Department" class="form-control" />
                <span asp-validation-for="_Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_IsraeliID" class="control-label"></label>
                <input asp-for="_IsraeliID" class="form-control" />
                <span asp-validation-for="_IsraeliID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="_IsVerfied" /> @Html.DisplayNameFor(model => model._IsVerfied)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="_IsStaff" /> @Html.DisplayNameFor(model => model._IsStaff)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
