@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home page";
}

<div class="d-flex align-items-center justify-content-center flex-column" style="height: 40vh;">

    <div class="text-center">
        <img src="~/images/logo_sce.png" alt="Your Logo" class="logo-img">
    </div>

    <div class="text-center mt-5">
        <!-- Adjust the margin-top (mt-5) value as needed -->
        @if (User.Identity?.IsAuthenticated == true)
        {
            <a class="btn btn-dark" asp-area="Documents" asp-page="/Index">Create Docs</a>
        }
        else
        {
            <a class="btn btn-dark" asp-area="Identity" asp-page="/Account/Login">Login/Register</a>
        }
    </div>

</div>
