@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    An email has been sent to your email. Please confirm your account
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

